@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap');
:root {
  --grey-color: #696a70;
  --marked-color: #64dd17;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  background: #fafafa;
  padding: 1rem;
}

img {
  max-width: 80px;
  width: 100%;
  border-radius: 8px;
  align-self: center;
}

h1 {
  margin: 4rem 0;
  text-align: center;
}

article.lesson {
  background: #ffffff;
  padding: 1.8rem;

  display: grid;
  grid-template-columns: 80px 1fr 20px;
  gap: 1rem;

  border-radius: 20px;
  border: 1px solid rgba(5, 6, 15, 0.08);

  margin: 1.4rem 0;
}

.lesson-body p{
  margin-top: 1rem;
  color: var(--grey-color);
  font-size: 90%;
}

.status {
  font-size: 20px;
  align-self: center;
}

.marked {
  color: var(--marked-color);
}

button {
  pointer-events: none;
  border: none;
  outline: none;
  color: var(--grey-color);
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  background: #fff;
  font-weight: bold;
  border-radius: 28px;
  border: 1px solid rgba(5, 6, 15, 0.08);
}

@media only screen and (max-width: 768px) {
  h1 {
    margin: 2rem 0;
  }

  article.lesson {
    padding: 1rem;
    grid-template-columns: 60px 1fr 20px;
  }

  h2 {
    font-size: 18px;
  }

}

/* .blue-background-class {
  color: red;
  background-color: green;
} */

.ghostClass {
  opacity: 0.3;
}

.chosenClass {
  background: #E1F5FE !important;
}